@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');


nav {
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    justify-content: space-between;
    padding: 12px 20px;
    margin: -8px -8px 100px;
}

nav h1 {
    font-size: 1.6rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: #333;
    max-width: 100%;
    overflow-x: hidden;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 20px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
}

ul>li>a:hover {
    color: rgb(173, 156, 132);
}

main {
    padding-bottom: 120px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: -140px;
    font-family: 'Varela Round', sans-serif;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

footer a:hover {
    text-decoration: underline;
}

footer h4 {
    padding: 20px;
    padding-left: 80px;
    margin: 0;
}

footer p {
    margin: 20px;
}

footer h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

footer form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

footer input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer button:hover {
    background-color: #0056b3;
}

p {
    color: #666;
}


section {
    padding: 20px 10%; 
    margin: 0 auto;
    padding: 2rem; 
    margin-bottom: rem
}


.home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.home-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.intro-text {
    flex: 1;
    min-width: 300px;
  
}

.intro-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro-text h2 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
     text-align: justify;
}

.intro-image {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
        text-align: center;
    }
}

.projects {
    background-color: var(--bg-color);
    padding: 20px 0; 
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container {
    text-align: center;
    width: 100%;
    padding: 1rem;
    max-width: 400px;
}

.project-pic {
    width: 100%;
    height: auto;
}

.project-card {
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.projects h2 {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.skills {
    max-width: 188.75rem;
    margin: 0 auto;
    padding: 40px 0; 
    text-align: center;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-card {
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 170px;  
    height: 170px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2 {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.icon-card img {
    max-width: 100%;
    max-height: 100%;
}

.achievements {
    padding: 20px 0; 
    text-align: center;
}

.achievements h2 {
    font-size: 2.5rem;
}

.achievement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement-card {
    margin: 10px;
    max-width: 300px;
    text-align: center;
    background-color: #ffffff;
}

.achievement-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.achievement-details {
    padding: 10px;
}

.achievement-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: #333;
    max-width: 100%;
    overflow-x: hidden;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    padding: 60px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

.resume .position-relative {
    max-width: 1000px; 
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 180px;
    padding-right: 180px;
    background-color: #f8f9fa;
    border: 2px solid #ddd;
    border-radius: 20px;
}

.resume h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    color: #000;
}

.resume p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #666; 
}

.resume .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.resume .btn-primary a {
    color: #fff;
    text-decoration: none;
}

.resume .btn-primary a:hover {
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width: 767px) {
    .resume {
        padding-left: 10px;
        padding-right: 10px;
    }
    .resume .position-relative {
        padding: 20px;
    }
}


@media screen and (max-width: 767px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        padding: 0;
    }
    nav li {
        padding: 10px 0;
    }
    .home {
        flex-direction: column;
        text-align: center;
    }
    .img {
        max-width: 100%;
    }
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
    .achievements {
        margin-top: -80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    nav li {
        padding: 10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    nav li {
        padding: 10px;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        padding: 12px 20px;
    }
    nav li {
        padding: 0 20px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: auto;
}


nav, footer {
    width: 100%;
    box-sizing: border-box; 
}

*, *::before, *::after {
    box-sizing: border-box;
}
.projects p{
    text-align: justify;
}   

@media only screen and (max-width: 600px) {
    .intro-text h1 {
        font-size: 1.5rem; 
        
    }

    .intro-text h2 {
        font-size: 1.2rem;
    }

    .intro-text p {
        font-size: 0.9rem; 
        margin: 0.5rem 0; 
        text-align: justify;
    }

    .intro-image img {
        max-width: 80%; 
    }
    .projects p{
        text-align: justify;
    }
}


.intro-image img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    margin-top: 1rem; 
}

@media only screen and (max-width: 600px) {
    .achievements {
        margin-top: -2rem 
    }

    .social-links {
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    .social-links a {
        font-size: 15px; 
        padding: 12px 20px; 
    }
    h4 {
        font-size: 1 rem; 
        margin: -130px auto;
        justify-content: center; 
        align-items: center;
        text-align:center;
    }

    .center-container {
        padding: 10px; 
    }
}

html {
    scroll-behavior: smooth;
}

.achievement-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.achievement-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.skill-container{
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.skill-container:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


.btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
}


.btn-primary:hover {
    background-color: #0056b3; 
    border-color: #004085;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
    margin: 20px 0;
}


.social-links a:hover {
    color: rgb(173, 156, 132); 
}

form {
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
}


input[type="email"] {
    font-family: 'Roboto', sans-serif;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

.h4{
    align-items: center;
    text-align: center;
    justify-content: center;
}
